*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.section1{
    background-image: linear-gradient(#f2f2f2, #f1e7e6)
    
}

.imgBoxLeft img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.imgBoxLeft{
    height: 450px;
    width: 350px;
}
.imgBoxRight img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.imgBoxRight{
    height: 450px;
    width: 700px;
}
.containerBox{
    display: flex;
    justify-content: center;
    gap: 30px;
}

.imgBoxLeft2 img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.imgBoxLeft2{
    height: 800px;
    width: 500px;
}

.imgBoxRight2 img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.imgBoxRight2{
    height: 600px;
    width: 500px;
}
.containerBox2{
    margin-top: 60px;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.textBoxRight{
    height: 200px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 40px;
}

.section2{
    background-image: linear-gradient(#f1e7e6, #98bba4);
}
.boxContainer{
    height: 300px;
    width: 600px;
    background-color: white;
}
.textBox span{
   letter-spacing: 4px;
}

.textBox h3{
   font-size: 30px;
}
.img1 img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.textBox{
    display: flex;
    flex-direction: column;
    
}


.img1 img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.img1{
    height: 700px;
    width: 500px;
}

.container{
    padding-top: 60px;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.img2 img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.img2{
    height: 300px;
    width: 600px;
}

.container2{
    padding-top: 20px;
    display: flex;
    justify-content: center;
}

.section3{
    background-color: #f1e7e6;
}
.section3 h1{
    color: #cfaaa6;
    text-align: center;
    padding: 50px 0px;
}

.boxSection{
    height: 350px;
    width: 400px;
    background-color: white;
}

.imgSection img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.boxText{
    text-align: justify;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.boxText h3{
    margin: 20px 0px;
    letter-spacing: 5px;
}
.containerSection{
    padding-top: 30px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.button{
    padding: 15px;
    width: 200px;
    font-size: 15px;
    background-color: #98bba4;
    color: white;
    border: none;
    margin: 50px 0px;
    cursor: pointer;
}
.button:hover{
    background-color: #83a28e;
}
.buttonBox{
    display: flex;
    justify-content: center;
}


@media(max-width:1100px){
    .containerBox{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .containerBox2{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .imgBoxRight{
        height: 450px;
        width: 350px;
        
    }
    .imgBoxLeft2{
        height: 450px;
        width: 350px;
    }
    .imgBoxRight2{
        height:450px;
        width:350px;
    }
    .textBoxRight{
        height: fit-content;
        font-size: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .boxContainer{
        height: 350px;
        width: 350px;
    }
    .img1{
        height: 450px;
        width: 350px;
    }
    .img2{
        height: 350px;
        width: 350px;
    }
    .containerSection{
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }
    .boxSection{
    height: 250px;
    width: 300px;
    
}
.section3 h1{
    color: #cfaaa6;
    text-align: center;
    padding: 20px 0px;
    font-size: 20px;
}

}
