* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


.fa-bars {
    font-size: 30px;
}

.color {
    color: #4d6054;
}

.headerImg img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.headerImg {
    height: 250px;
    width: 250px;
}

.headerContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.section1 {
    background-image: linear-gradient(#f2f2f2, #f1e7e6)
}

.imgBoxLeft img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.imgBoxLeft {
    height: 450px;
    width: 350px;
}

.imgBoxRight img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.imgBoxRight {
    height: 450px;
    width: 700px;
}

.containerBox {
    display: flex;
    justify-content: center;
    gap: 30px;

}

.imgBoxLeft2 img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.imgBoxLeft2 {
    height: 800px;
    width: 550px;
}

.imgBoxRight2 img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.imgBoxRight2 {
    height: 600px;
    width: 500px;
}

.containerBox2 {
    margin-top: 60px;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.textBoxRight {

    padding: 50px;
    height: 200px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 20px;
    width: 500px;
    color: #444448;
}

.textBoxRight h3 {
    font-family: 'PT Sans', sans-serif;
    font-weight: 300;
    line-height: 1.2;
    font-size: 2.25rem;
}

.textBoxRight span {
    color: #a3a598;
}

.section2 {
    background-image: linear-gradient(#f1e7e6, #98bba4);
}

.boxContainer {
    height: 300px;
    width: 600px;
    background-color: white;
}

.textBox .span1 {
    letter-spacing: 4px;
    color: #666666;
    font-size: 20px;
    font-family: 'PT Sans', sans-serif;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.span2 {
    color: #444448;
}

.textBox h3 {
    font-family: 'PT Sans', sans-serif;
    font-size: 30px;
    margin-bottom: 20px;
}

.textBox p {
    margin-bottom: 60px;
}

.img1 img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.textBox {
    padding: 20px;
    display: flex;
    flex-direction: column;

}


.img1 img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.img1 {
    height: 640px;
    width: 450px;
}

.container {

    display: flex;
    flex-direction: column;
    gap: 40px;

}

.containerAll {
    padding-top: 30px;
    display: flex;
    gap: 30px;
    justify-content: center;
}

.img2 img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.img2 {
    height: 300px;
    width: 600px;
}

.container2 {
    display: flex;
    justify-content: center;
}

.section3 {
    background-color: #f1e7e6;
}

.section3 h1 {
    color: #cfaaa6;
    text-align: center;
    padding: 50px 0px;
}

.boxSection {
    height: 350px;
    width: 400px;
    background-color: white;
}

.imgSection img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.boxText {
    text-align: justify;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.boxText h3 {
    margin: 20px 0px;
    letter-spacing: 5px;
}

.containerSection {
    padding-top: 30px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.button {
    padding: 15px;
    width: 200px;
    font-size: 15px;
    background-color: #98bba4;
    color: white;
    border: none;
    margin: 50px 0px;
    cursor: pointer;
}

.button:hover {
    background-color: #83a28e;
}

.buttonBox {
    display: flex;
    justify-content: center;
}

.section4 {
    background-image: linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url(img/sekil8.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1500px;
}

.boxSect img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 100%;
}

.boxSect {
    height: 300px;
    width: 300px;
}

.textSect h2 {
    margin: 30px 0px;
    color: #98bba4;
}

.sectionCont {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}

.section5 {
    background-image: url(img/sekil10.jpg);
    background-position: center;
    background-size: 1500px;
    background-repeat: no-repeat;

}

.sectText {
    padding-top: 70px;
    text-align: center;
}

.sectText p {
    padding: 50px 0px;
}

.sectText h3 {
    font-size: 25px;
}

.section6 {
    background-color: #f8f8f8;
}

.section6 h1 {
    text-align: center;
    padding: 50px 0px;
    font-size: 35px;
}

.secImg img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.secImg {
    height: 400px;
    width: 450px;
}

.secImg2 img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.secImg2 {
    height: 400px;
    width: 600px;
}

.containerSect {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.secImg3 img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.secImg3 {
    height: 340px;
    width: 343px;
}

.sectBox {
    height: 343px;
    width: 343px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.secImg4 img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.secImg4 {
    height: 343px;
    width: 343px;
}

.containerSect2 {
    padding: 30px;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.secImg5 img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.secImg5 {
    height: 400px;
    width: 600px;
}

.secImg6 img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.secImg6 {
    height: 400px;
    width: 450px;
}

.containerSect3 {
    padding: 30px;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.button2 {
    padding: 15px;
    width: 200px;
    font-size: 15px;
    background-color: #98bba4;
    color: white;
    border: none;
    margin: 30px 0px;
    cursor: pointer;
}

.button2:hover {
    background-color: #83a28e;
}

.boxButton {
    display: flex;
    justify-content: center;
}

.section7 {
    background-image: url(img/sekil18.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 1500px;

}

.sectText {
    text-align: center;
    padding: 60px 0px;
}

.footer {
    height: 500px;
    background-color: black;
}

@media(max-width:1100px) {
    .container2{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .containerAll {
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
}
    .headerImg {
        height: 150px;
        width: 150px;
    }

    .headerContainer {
        flex-direction: column;
    }

    .fa-bars {
        font-size: 20px;
    }

    .iconBox {
        padding-top: 30px;
    }

    .containerBox {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .containerBox2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .imgBoxRight {
        height: 450px;
        width: 350px;

    }

    .imgBoxLeft2 {
        height: 450px;
        width: 350px;
    }

    .imgBoxRight2 {
        height: 450px;
        width: 350px;
    }

    .textBoxRight {
        height: fit-content;
        font-size: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .boxContainer {
        height: 350px;
        width: 350px;
    }

    .img1 {
        height: 350px;
        width: 350px;
        padding-bottom: 30px;
        margin-left: 50px;
    }

    .img2 {
        height: 350px;
        width: 350px;
    }

    .containerSection {
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    .boxSection {
        height: 250px;
        width: 300px;

    }

    .section3 h1 {
        color: #cfaaa6;
        text-align: center;
        padding: 20px 0px;
        font-size: 20px;
    }

    .sectionCont {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 20px;
    }

    .boxSect {
        height: 200px;
        width: 200px;
    }

    .sectText h3 {
        font-size: 15px;
    }

    .section6 h1 {
        text-align: center;
        padding: 30px 0px;
        font-size: 20px;
    }

    .containerSect {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .secImg {
        height: 300px;
        width: 300px;
    }

    .secImg2 {
        height: 300px;
        width: 300px;
    }

    .containerSect2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .secImg3 {
        height: 300px;
        width: 300px;
    }

    .secImg4 {
        height: 300px;
        width: 300px;
    }

    .sectBox {
        height: 300px;
        width: 300px;
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .containerSect3 {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .secImg5 {
        height: 300px;
        width: 300px;
    }

    .secImg6 {
        height: 300px;
        width: 300px;
    }

    .sectText h1 {
        font-size: 15px;
    }

    .textBoxRight h3 {
        font-family: 'PT Sans', sans-serif;
        font-weight: 300;
        line-height: 1;
        font-size: 1rem;
    }
    .textBoxRight {

    padding: 50px;
    height: 200px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 20px;
    width: 350px;
    color: #444448;
}
}